body{
    background: black;
    display: flex; 
    justify-content: center; 
    padding: 1%;
}
.sub{
    color: rgb(247, 247, 247);
    margin: auto; 
    text-align: center;
    font-size: 2em; 
    font-family: Verdana;
    letter-spacing: 0.001em; 
   
}
.main{
    color: rgb(188, 188, 188); 
    padding-bottom: 1% ; 
    padding-left: 2% ; 
    padding-right: 2% ; 
    margin: auto; 
    font-size: 1em; 
    font-family: Arial; 
    letter-spacing: 0.1em; 
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.qns{
    color: rgb(72, 255, 0); 
    font-weight: 600;
    padding-bottom: 0% ; 
    padding-left: 0% ; 
    padding-right: 0% ; 
    font-size: 1.2em; 
    font-family: Arial; 
    letter-spacing: 0.1em; 

}
.clr{
    color: rgb(0, 255, 255); 
    font-weight: 600;
    padding-bottom: 0% ; 
    padding-left: 0% ; 
    padding-right: 0% ; 
    font-size: 1.1em; 
    font-family: Arial; 
    letter-spacing: 0.1em; 



}
